!.gitkeep
.DS_Store
.env
.idea/
.vs/
.vscode/
*.log
node_modules/
thumbs.db

# npm package
.npmrc
npm-debug.log.*

# Eslint Cache
.eslintcache*

# electron builder
*.provisionprofile
build/*.plist
dist/electron/*
dist/web/*

# release
release/*
