
html,
body {
  height: 100%;
  padding: 0;
}

body {
  font-family: 'Monospaced Number', 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-variant: tabular-nums;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.clearfix {
  @include clearfix();
}

.title-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  user-select: none;
  -webkit-app-region: drag;
  z-index: 5000;
}

#app,
#container {
  height: 100%;
}

.aside {
  -webkit-app-region: drag;
}

.el-progress-bar__inner {
  transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
}

.el-progress--line.is-text {
  .el-progress-bar__inner::before {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 10px;
    animation: mo-progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  }
}

@keyframes mo-progress-active {
  0% {
    opacity: 0.1;
    width: 0;
  }
  20% {
    opacity: 0.5;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

.el-message-box__wrapper {
  outline: none;
}

.tab-title-dialog {
  .el-dialog__header {
    padding: 0 20px;
    position: relative;
    z-index: 10;
  }
  .el-dialog__body {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.el-form-item--mini .el-form-item__info {
  padding-top: 1px;
}
.el-form-item__info {
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  color: $--color-info;
}
