/* Normalize.css
-------------------------- */
@import '~normalize.css/normalize.css';

/* Element UI
-------------------------- */
@import "~element-ui/packages/theme-chalk/src/index";

/* Theme Light (default)
-------------------------- */
@import './Default.scss';

/* Theme Dark
-------------------------- */
@import './Dark.scss';
